body {
    font-family: Arial, sans-serif;
    background: #f2f7f3;
    margin: 0;
}

.barra {
    background: #044d0e;
    color: white;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
}

.btn-volver {
    position: absolute;
    right: 20px;
    top: 15px;
    background: white;
    color: #044d0e;
    padding: 6px 14px;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    border: 2px solid #044d0e;
}

.contenedor {
    width: 400px;
    margin: 60px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px #0002;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background: #044d0e;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #033b0b;
}